<div class="user-home">
  <div class="user-photo border">
    <img src="<%= user.photo%> alt="<%= user.name%>">
  </div>

  <div class="user-details border">
    <h1 class="username">
      <%= user.name %>
    </h1>
    <p class="no-of-posts">
      Number of posts: <%= user.posts_counter %>
    </p>
  </div>
</div>