<div class="navbar">
  <%= link_to root_path, class: "nav-brand" do %>
  <% end %>
  <div class="session_manager">
    <% if user_signed_in? %>
      <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "logout-btn" %>
      <% else%>
      <%= link_to "Log In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path%>
    <% end %>
  </div>
</div>