/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*,
html {
  font-family: Arial, Helvetica, sans-serif;
}

.border {
  border: 2px solid black;
  border-radius: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}

.home-page {
  width: 100%;
}

.home-page a:link {
  text-decoration: none;
}

.user-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  gap: 2em;
  padding-bottom: 10px;
  margin: auto;
}

.display-photo {
  width: 100px;
}

.username,
.no-of-posts {
  color: black;
}

.all-posts {
  text-align: center;
  width: 150px;
  margin: auto;
}

.see-all-posts {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px black;
}

.all-posts a:link {
  text-decoration: none;
}

.user-post-card {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.user-posts a:link {
  text-decoration: none;
}

.post-details,
.post-comments {
  padding: 10px;
  border-radius: 5px;
  color: black;
  margin-bottom: 10px;
}

.comments {
  margin: 10px auto 10px auto;
  width: 100%;
}

.comments > p {
  padding: 5px;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.pagination {
  margin: auto;
  text-align: center;
  width: 100px;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 1px 1px 1px 1px black;
}

.user-photo {
  padding: 5px;
  width: 100px;
}

.user-details {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
}

.user-show-post {
  width: 100%;
}

.bio {
  padding: 10px;
  margin-bottom: 10px;
}

.bio-post {
  width: 70%;
  margin: auto;
}

.user-specific-post {
  width: 100%;
}

.user-posts {
  width: 100%;
}

.user-post-comments {
  width: 70%;
}

.post-info {
  width: 70%;
  margin: auto;
}

.post-container {
  width: 70%;
  margin: auto;
}

.like_post_btn {
  padding: 0.3rem;
  background: antiquewhite;
  display: inline-block;
  margin-bottom: 1rem;
}

.form-control {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.form-submit {
  display: flex;
  justify-content: center;
  margin-left: 3.8rem;
}

.form-submit input {
  width: 35rem;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.view_more_btn {
  text-decoration: none;
  font-size: 0.8em;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.5rem;
}

.reactions {
  display: flex;
  justify-content: space-around;
}
